@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: calc(10px + (15 - 10) * ((100vw - 450px) / (1440 - 450)));
}

body {
  background-color: #090b1a;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.main {
  width: 80%;
  margin: calc(100vh*0.15) auto;
  height: 62%;
  font-family: 'Inter', sans-serif;
  background-color: #1b1938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem;
  width: 50%;
}

.main__text-title {
  color: white;
  font-size: 2rem;
  line-height: 2.5rem;
}

.main__text-title span {
  color: #aa5cdb;
}

.main__text-descr {
  margin-top: 1.7rem;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
  line-height: 1.8rem;
}

.main__img {
  width: 50%;
  position: relative;
}

.main__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(113, 33, 163, 0.596);
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.statistics__count {
  color: #fff;
  font-size: 2.0rem;
  font-weight: 700;
}

.statistics__text {
  margin-top: 0.7rem;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Lexend Deca', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.attribution {
  position: absolute;
  color: rgba(255, 255, 255, 0.75);
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 450px) {
  html {
    font-size: 19px;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 26rem;
    margin: calc(100vh*0.10) auto;
  }
  .main__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    height: 75%;
    padding: 1.5rem 1.2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main__text-title {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
  }
  .main__text-descr {
    margin-top: 0.5rem;
    font-size: 0.5rem;
    line-height: 1rem;
    text-align: center;
  }
  .main__img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
    height: 25%;
  }
  .statistics {
    margin-top: 0.7rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .statistics__item {
    margin-top: 0.5rem;
  }
  .statistics__count {
    font-size: 0.9rem;
    text-align: center;
  }
  .statistics__text {
    margin-top: 0.2rem;
    font-size: 0.5rem;
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */