@media (max-width: 450px) {
    html {
        font-size: 19px;
    }
    .main {
        flex-direction: column;
        height: 26rem;
        margin: (calc(100vh*0.10)) auto;
        &__text {
            order: 1;
            width: 100%;
            height: 75%;
            padding: 1.5rem 1.2rem;
            justify-content: flex-start;
            &-title {
                font-size: 1.4rem;
                line-height: 2rem;
                text-align: center;
            }
            &-descr {
                margin-top: 0.5rem;
                font-size: 0.5rem;
                line-height: 1rem;
                text-align: center;
            }
        }
        &__img {
            order: 0;
            width: 100%;
            height: 25%;
        }
    }
    .statistics {
        margin-top: 0.7rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        &__item {
            margin-top: 0.5rem;
        }
        &__count {
            font-size: 0.9rem;
            text-align: center;
        }
        &__text {
            margin-top: 0.2rem;
            font-size: 0.5rem;
            text-align: center;
        }
    }
}