@import './fonts';

* {
    box-sizing: border-box;
}

html {
    font-size: calc(10px + (15 - 10) * ((100vw - 450px) / (1440 - 450)));
}

body {
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}

.main {
    width: 80%;
    margin: (calc(100vh*0.15)) auto;
    height: 62%;
    font-family: 'Inter', sans-serif;
    background-color: hsl(244, 38%, 16%);
    display: flex;
    
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5rem;
        width: 50%;
        &-title {
            color: hsl(0, 0%, 100%);
            font-size: 2rem;
            line-height: 2.5rem;
            span {
                color: rgb(170, 92, 219);
            }
        }
        &-descr {
            margin-top: 1.7rem;
            color: hsla(0, 0%, 100%, 0.75);
            font-size: 1rem;
            line-height: 1.8rem;
        }
    }
    &__img {
        width: 50%;
        position: relative;
        background: url('../images/image-header-desktop.jpg') no-repeat 50%/cover;
        &-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(113, 33, 163, 0.596);
        }
    }
}

.statistics {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__count {
        color: #fff;
        font-size: 2.0rem;
        font-weight: 700;
    }
    &__text {
        margin-top: 0.7rem;
        color: hsla(0, 0%, 100%, 0.6);
        font-family: 'Lexend Deca', sans-serif;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
}

.attribution {
    position: absolute;
    color: hsla(0, 0%, 100%, 0.75);
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

@import './media';